# SPDX-FileCopyrightText: 2023 Nikita Chernyi
# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of echoip systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ echoip_identifier }}.service"
  register: echoip_service_stat

- name: Uninstall echoip systemd services and files
  when: echoip_service_stat.stat.exists | bool
  block:
    - name: Ensure echoip systemd service is stopped
      ansible.builtin.service:
        name: "{{ echoip_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure echoip systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ echoip_identifier }}.service"
        state: absent

    - name: Ensure echoip container network does not exist
      when: echoip_container_network_deletion_enabled
      block:
        - name: Ensure echoip container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ echoip_container_network }}"
            state: absent
          register: echoip_network_deletion_result

        - name: Ensure echoip container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ echoip_container_network }}
          register: echoip_network_deletion_result
          changed_when: echoip_container_network in echoip_network_deletion_result.stdout

    - name: Ensure echoip path does not exist
      ansible.builtin.file:
        path: "{{ echoip_base_path }}"
        state: absent
