# SPDX-FileCopyrightText: 2023 Nikita Chernyi
# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

- name: Check existence of echoip systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ echoip_identifier }}.service"
  register: echoip_service_stat

- name: Stop and uninstall echoip systemd service
  when: echoip_service_stat.stat.exists | bool
  block:
    - name: Ensure echoip systemd service is stopped
      ansible.builtin.service:
        name: "{{ echoip_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure echoip systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ echoip_identifier }}.service"
        state: absent

    - name: Ensure echoip path does not exist
      ansible.builtin.file:
        path: "{{ echoip_base_path }}"
        state: absent
